<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyst Job Pie Charts</title>
    <!-- Include the D3.js library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Include your JavaScript code to load and create pie charts here -->
    <script src="{{ url_for('static', filename='employment_logic.js') }}?v=123456"></script>

    <!-- Include your CSS styles -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
    <!-- Add a title or introductory content if needed -->
    <h1>Data Analyst Job Pie Charts by State</h1>
    
    <!-- Pie charts for each state -->
    <div id="SA-pie-chart"></div>
    <div id="QLD-pie-chart"></div>
    <div id="ACT-pie-chart"></div>
    <div id="NT-pie-chart"></div>
    <div id="TAS-pie-chart"></div>
    <div id="VIC-pie-chart"></div>
    <div id="WA-pie-chart"></div>
    <div id="NSW-pie-chart"></div>
</body>
</html>